.DropdownMenu {
  position: fixed;
  .context-entry {
    display: flex;
  }
  .context-title {
    overflow-x: hidden; // Cut content
    width: 100%; // So that contents won't be squashed
    padding: 0px 5px; // A bit of space around
    box-sizing: border-box; // Fit to the parent properly
    display: inline-block;
    cursor: pointer;
  }
  * {
    white-space: nowrap; // Don't wrap lines inside the menu
    max-width: 256px; // Really long, but not stupidly long
    text-overflow: ellipsis; // Ellipsize long strings
  }
  .context-disabled {
    display: flex;
    width: inherit;
    .context-title {
      cursor: default;
    }
  }
  .context-unrecognized {
    color: red
  }
  .context-submenu {
    position: relative;
    & > .context-title {
      position: relative;
      padding-right: calc(1em + .4ch); // Let it breathe from the other side as well
      &::after { // Arrow head
        content: "";
        // The magic 2px here serves to balance out the baseline height of the font
        // I'm not happy with this solution, but with current CSS I don't think we
        // can do better as far as baseline-alignment goes.
        transform: translateY(calc(-50% - 2px)) rotate(45deg);
        position: absolute;
        width: .5em;
        height: .5em;
        top: 50%;
        right: calc(.5em + .1ch); // Let it breathe
        border-top: 2px solid;
        border-right: 2px solid;
      }
    }
    & > .submenu-anchor {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
